<div class="card">
  <p-card header="Sauvegarde">
    <p><b>Télécharger une sauvegarde Excel :</b></p>
    <p-button
      label="Télécharger"
      icon="pi pi-download"
      (click)="downloadExcel()"
      severity="success"
      size="small"
    ></p-button>

    <p><b>Télécharger une sauvegarde du plan avec les numéros :</b></p>
    <p-button
      label="Télécharger"
      icon="pi pi-download"
      (click)="downloadMap()"
      severity="primary"
      size="small"
    ></p-button>
  </p-card>
</div>
