#map-container,
#table-container {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

#map-container {
  margin-right: 2%;
  height: 100vh;
  width: 41%;
}

#table-container {
  height: 130vh;
  width: 57%;
}

#map-title {
  text-align: center;
  font-size: 1.5em;
}

#table-title {
  text-align: center;
  font-size: 1.5em;
}
