<app-header></app-header>

<div class="container">
  <div id="map-container" class="card">
    <map-component [lots]="lots"></map-component>
  </div>
  <div id="table-container" class="table-container">
    <div class="card">
      <h3 id="table-title">Informations</h3>
      <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Général">
          <table-general [lots]="lots"></table-general>
        </p-tabPanel>
        <p-tabPanel header="Décédés">
          <table-deads [lots]="lots"></table-deads>
        </p-tabPanel>
        <p-tabPanel header="Résumé">
          <stats-card [lots]="lots"></stats-card>
        </p-tabPanel>
        <p-tabPanel header="Sauvegarde">
          <save-card></save-card>
        </p-tabPanel>
        <p-tabPanel header="Parcelle" [disabled]="!graveSelected" [selected]="graveSelected">
          <grave-card [lots]="lots"></grave-card>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
