<div class="card">
  <p-table
    #dt2
    [value]="deads"
    [scrollable]="true"
    scrollHeight="250px"
    selectionMode="single"
    [(selection)]="selectedDead"
    dataKey="id"
    (onRowSelect)="onRowSelect($event)"
    [globalFilterFields]="['firstname', 'lastname']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Rechercher un mort"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>
          Enterré en
          <p-columnFilter field="entrydate" matchMode="equals" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-calendar
                [ngModel]="value"
                (onSelect)="filter($event)"
                dateFormat="mm-yy"
                view="month"
                [showIcon]="true"
                placeholder="Date"
              ></p-calendar>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          Lot
          <p-columnFilter field="lot" matchMode="contains" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input
                pInputText
                type="text"
                [ngModel]="value"
                (input)="filter($any($event.target).value)"
                placeholder="Lot"
              />
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          Tombe
          <p-columnFilter field="grave" matchMode="contains" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <input
                pInputText
                type="text"
                [ngModel]="value"
                (input)="filter($any($event.target).value)"
                placeholder="Tombe"
              />
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          Enterré pour
          <p-columnFilter field="state" matchMode="equals" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                [ngModel]="value"
                [options]="GraveTypesArray"
                (onChange)="filter($event.value)"
                placeholder="Durée"
              >
                <ng-template let-option pTemplate="item">
                  <p-tag
                    [value]="option.value"
                    [style]="{ background: getGraveTypeSeverity(option.index) }"
                  />
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 5%">
          Expiré
          <p-columnFilter field="expired" matchMode="equals" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                [ngModel]="value"
                [options]="[
                  { label: 'Oui', value: true },
                  { label: 'Non', value: false }
                ]"
                (onChange)="filter($event.value)"
                placeholder="Expiré"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dead>
      <tr [pSelectableRow]="dead">
        <td>{{ dead.firstname }}</td>
        <td>{{ dead.lastname }}</td>
        <td>{{ dead.entrydate | date : 'MMMM-yyyy' }}</td>
        <td>{{ dead.lot }}</td>
        <td>{{ dead.grave }}</td>
        <td>
          <p-tag [value]="dead.state" [style]="{ background: getGraveTypeColor(dead.id) }" />
        </td>
        <td>
          {{ dead.expired ? 'Oui' : 'Non' }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
