<div style="height: 100vh; display: flex; justify-content: center; align-items: center">
  <div
    style="
      width: 500px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 16px;
      border-radius: 5px;
    "
  >
    <p-messages [(value)]="messages" [enableService]="false"></p-messages>
    <div style="text-align: center; margin-bottom: 25px">
      <h2>Se connecter</h2>
    </div>
    <div>
      <form [formGroup]="formGroup">
        <div style="margin-bottom: 16px; width: 100%">
          <label for="username" style="display: block; margin-bottom: 8px">Nom d'utilisateur</label>
          <input
            id="username"
            type="text"
            formControlName="username"
            pInputText
            [style]="{ width: '400px' }"
          />
        </div>
        <div style="margin-bottom: 25px; width: 500px">
          <label for="password" style="display: block; margin-bottom: 8px">Mot de passe</label>
          <p-password
            id="password"
            type="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
          />
        </div>
        <div style="text-align: left">
          <p-button label="Se connecter" (onClick)="onSubmit()" [disabled]="!formGroup.valid" />
        </div>
      </form>
    </div>
  </div>
</div>
