<div class="card">
  <p-card
    [header]="'Parcelle #' + grave?.identifier + ' - Lot ' + getGraveLotName()"
  >
    <div>
      Statut:
      <p-tag [style]="{ background: getGraveTagSeverity() }"
        >{{ getGraveStatut() }}
      </p-tag>
    </div>

    <p-divider />

    <div *ngIf="grave && grave.state === 0">
      <p>Il n'y a pas de défunt dans cette parcelle.</p>
      <div>
        <p-button
          label="Ajouter un défunt"
          icon="pi pi-plus"
          size="small"
          severity="info"
          [style]="{ marginTop: '10px' }"
        ></p-button>
      </div>
    </div>

    <div *ngIf="grave && grave.state > 1">
      <div
        *ngFor="let dead of grave.deads; let i = index"
        [ngStyle]="{ 'margin-top': i > 0 ? '30px' : '40px' }"
      >
        <div>
          <form (ngSubmit)="onSubmit()">
            <div class="inline-fields">
              <div>
                <p-floatLabel>
                  <input
                    id="firstname-{{ i }}"
                    pInputText
                    [(ngModel)]="dead.firstname"
                    name="firstname-{{ i }}"
                    (ngModelChange)="onModelChange()"
                    required
                  />
                  <label for="firstname-{{ i }}">Prénom:</label>
                </p-floatLabel>
              </div>
              <div>
                <p-floatLabel>
                  <input
                    id="lastname-{{ i }}"
                    pInputText
                    [(ngModel)]="dead.lastname"
                    name="lastname-{{ i }}"
                    (ngModelChange)="onModelChange()"
                    required
                  />
                  <label for="lastname-{{ i }}">Nom:</label>
                </p-floatLabel>
              </div>
              <div>
                <p-floatLabel>
                  <p-calendar
                    id="entryDate-{{ i }}"
                    [(ngModel)]="dead.entrydate"
                    name="entryDate-{{ i }}"
                    (ngModelChange)="onModelChange()"
                    view="month"
                    dateFormat="mm/yy"
                    showButtonBar="true"
                    required
                  ></p-calendar>
                  <label for="entryDate-{{ i }}">Date d'entrée:</label>
                </p-floatLabel>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div>
        <p-button
          label="Modifier"
          icon="pi pi-pencil"
          size="small"
          severity="info"
          [disabled]="!isModified"
          (click)="onSubmit()"
          [style]="{ marginTop: '10px' }"
        ></p-button>
      </div>
    </div>
  </p-card>
</div>
